ol {
    padding-inline-start: 0;
}

#questionsBox li {
    background-color: rgb(226, 225, 225);
    color: #000;
    padding: 5px 10px;
    cursor: pointer;
    list-style-position: inside;
    margin-bottom: 5px;
  }
  
  #questionsBox li:hover {
    background-color: #daecff;
    color: #007bff;
    font-weight: bold;
  }